.left-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 4rem;
}
@media only screen and (min-width: 768px) {
    .left-column {
        position: sticky;
        top: 0;
        max-height: calc(100vh - 8rem);
        padding-top: 4rem 0;
    }
}

.left-column h3 {
    margin: 1rem 0;
}

.main-content {
    max-width: 20rem;
}

/* mini menu */
.mini-menu {
    margin-top: 2rem;
}

.nav-indicator {
    display: block;
    float: left;
    width: 30px;
    height: 1px;
    margin: 11px;
    background-color: #fff;
    transition: width .3s;
}

.active-scroll-spy,
ul li:hover .nav-indicator {
    width: 50px;
    transition: width .3s;
}

.header-bottom{
    display: flex;
    gap: 1rem;
    margin: 0;
}